*.4ct
*.4tc
*.aux
*.bbl
*.bcf
*.blg
*.conf
*.css
*.cut
*.dvi
*.fdb_latexmk
*.fls
*.html
*.idv
*.ist
*.lg
*.log
*.lwarpmkconf
*.lyx~
*.md
*.out
*.pdf
*.sidetoc
*.svg
*.tmp
*.toc
*.txt
*.xdy
*.xml
*.xref
*_html.tex
