<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">

    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <title>{{ page.title }}</title>
        <meta name="author" content="Jason O'Conal" />
        <link href="http://feeds.feedburner.com/oconal-id-au" rel="alternate" title="oconal.id.au" type="application/atom+xml" />
        <meta name="readability-verification" content="QCzSs992GxmRYRKVpPeZ6LE2tS8aYKxsSSQKV8YM"/>

        <!-- Syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css" type="text/css" />

        <!-- Homepage CSS -->
        <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />

        <!-- Typekit -->
        <script type="text/javascript" src="https://use.typekit.com/jpd0pfm.js"></script>
        <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

        <!-- Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-42966992-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', 'UA-42966992-1');
        </script>
    </head>

    <body>
        <div class="site">
            <div class="title">
                <a href="/">oconal.id.au</a>
                <a class="extra" href="/">home</a>
                <a class="extra" href="/reading-list.html">reading list</a>
            </div>

            {{ content }}

            <div class="footer">
                <div class="contact">
                    <p>
                    Jason O'Conal
                    <br />
                    jason@oconal.id.au
                    </p>
                </div>
                <div class="contact">
                    <p>
                    <a href="http://twitter.com/lovek323">twitter.com/lovek323</a><br />
                    </p>
                </div>
                <div class="rss">
                    <a href="http://feeds.feedburner.com/oconal-id-au">
                        <img src="/images/rss.png" alt="Subscribe to RSS Feed" />
                    </a>
                </div>
            </div>
        </div>
    </body>

</html>
