---
layout: default
---
<div id="post">
  {{ content }}
</div>

<div id="related">
  <h2>Related Posts</h2>
  <ul class="posts">
    {% for post in site.related_posts limit:3 %}
      <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
</div>

<script language="javascript" type="text/javascript">
  // $('h1').not(':first').wrap('<div class="spt-trackThis"></div>');
  // $('h2').wrap('<div class="spt-trackThis"></div>');
  // $('h3').wrap('<div class="spt-trackThis"></div>');
  // $('#TrackScrollProgress').progressTracker({
    // horTracker: false,
    // verTracker: true,
    // verStops: true,
    // verTitles: true,
    // verPosition: 'right',
    // trackAllHeadlines: true,
    // scrollSpeed: 1200
  // });
</script>
